@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
html {
    font-family: 'Goldman', cursive;
    background: url(img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

body {
    font-family: 'Goldman', cursive;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

#login-button {
    font-family: 'Goldman', cursive;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background: rgb(0 124 189 / 99%);
    overflow: hidden;
    opacity: 0.7;
    box-shadow: 10px 10px 50px #000;
    transition: all 0.3s ease-in-out;
}

#login-button:hover {
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}


/* Login container */

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 415px;
    height: 330px;
    border-radius: 5px;
    background: rgba(3, 3, 3, 0.25);
    box-shadow: 10px 10px 50px #000;
    display: none;
}

.close-btn {
    position: absolute;
    cursor: pointer;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .7;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.close-btn:hover {
    opacity: .3;
}


/* Heading */

h1 {
    font-family: 'Goldman', cursive;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 37px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}

h3 {
    font-family: 'Goldman', cursive;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 24px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}

h6 {
    font-family: 'Goldman', cursive;
    position: relative;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}


/* Inputs */


/* a, */

input {
    font-family: 'Goldman', cursive;
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3, 3, 3, .1);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input:focus {
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3, 3, 3, .18);
}

button {
    font-family: 'Goldman', cursive;
    text-align: center;
    padding: 4px 8px;
    background: rgba(0, 124, 189, 0.75);
    text-decoration: none;
    position: relative;
    width: 85%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

button:hover {
    /* font-weight: bold; */
    opacity: 0.9;
}

.text-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}


/* Placeholders */

 ::-webkit-input-placeholder {
    color: #ddd;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: red;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: red;
}

 :-ms-input-placeholder {
    color: #333;
}


/* Link */

a {
    font-family: 'Goldman', cursive;
    text-align: center;
    padding: 4px 8px;
    background: rgba(3, 205, 255, 0.74);
}

#remember-container {
    position: relative;
    margin: -5px 20px;
}

.checkbox {
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 5px;
    border-radius: 4px;
    background: rgba(3, 3, 3, .2);
    display: inline-block;
    width: 16px;
    height: 15px;
}

.checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
    background: rgba(3, 3, 3, .4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.5);
    color: #fff;
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 4px;
    color: #fff;
}

#remember {
    position: absolute;
    font-size: 13px;
    font-family: 'Hind', sans-serif;
    color: rgba(255, 255, 255, .5);
    top: 7px;
    left: 20px;
}

#forgotten {
    font-family: 'Goldman', cursive;
    position: absolute;
    font-size: 14px;
    color: rgba(243, 237, 237, 0.712);
    right: -10px;
    top: 8px;
    cursor: pointer;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#forgotten:hover {
    color: white;
    font-weight: bold;
}

#forgotten-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 415px;
    height: 165px;
    border-radius: 5px;
    background: rgba(3, 3, 3, 0.25);
    box-shadow: 10px 10px 50px #000;
    display: none;
}

.orange-btn {
    background: rgb(0 124 189 / 99%);
}

.back-login-page {
    background-color: transparent;
    color: rgba(243, 237, 237, 0.712);
    text-decoration: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 14px;
}

.back-login-page:hover {
    color: white;
    font-weight: bold;
}

.validate-code {
    height: 230px !important;
}

.set-password {
    height: 275px !important;
}